<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.sczl.dao.UserInfoMapper" >
  <resultMap id="vo" type="com.xy.sczl.entity.UserInfoEntity" >
    <result column="id" property="id" />
    <result column="user_name" property="userName" />
    <result column="password" property="password" />
    <result column="is_deleted" property="isDeleted" />
  </resultMap>
  

  <insert id="insert">
  	insert into user_info (user_name, password) value (#{0}, #{1})
  </insert>
  
  <update id="update"></update>
  

  <select id="findByUserId" resultMap="vo">
  	select * from user_info where user_name = #{userId} and password = #{password}
  </select>
  
  <select id="findByUserName" resultMap="vo">
  	select * from user_info where user_name = #{0}
  </select>
  
   <select id="getUserNameAndPwd" resultMap="vo">
  	select * from user_info where user_name = #{0} and password = #{1}
  </select>
  

  <delete id="delete"></delete>
</mapper>