<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.sczl.dao.UserInfoMapper" >
  <resultMap id="vo" type="com.xy.sczl.entity.UserInfoEntity" >
  	<!-- column：对应数据库中，表的字段
  		 property：对应实体类的字段，两者的名称也可以不一样，如表中的字段为id_，实体类为id
  	 -->
    <result column="id" property="id"  />
  </resultMap>
  
  <!-- 插入 -->
  <insert id="insert"></insert>
  
  <!-- 修改 -->
  <update id="update"></update>
  
  <!-- 查询 -->
  <select id="findByUserId" resultMap="vo">
  	select * from user_info where userId = #{userId}
  </select>
  
  <!-- 删除 -->
  <delete id="delete"></delete>
</mapper>